node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
node_modules/
# macOS
.DS_Store
/.idea/.gitignore
/.idea/Appli_meteo.iml
/assets/icones/lune/lune.xcf
/assets/icones/lune/lunes.png
/.idea/modules.xml
/.idea/vcs.xml
